* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 40px;
}

.firstheader {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: oklab(98.441% 0.00306 0.00084);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#logo {
    height: 100px;
    width: 100px;
    position: relative;
    margin-right: 20px;
}

#sicon {
    position: relative;
    top: 7px;
    left: -1107px;
    color: rgb(16, 16, 16);
}

#sbar {
    flex: 1;
    padding: 7px 12px;
    border: 1px solid #a02828;
    border-radius: 5px;
    margin-right: 20px;
    height: 25px;

}

#dropdown {
    padding: 3px 6px;
    border: 1px solid #c03333;
    border-radius: 4px;
    margin: 0 10px;
}

#sbtn {
    padding: 4px 18px;
    background-color: #f84464;
    color: rgb(251, 245, 245);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    height: 27px;
}

#micon {
    cursor: pointer;
    margin-top: 23px;
}

.secondheader {
    background-color: #efeaea;
    padding: 10px 20px;
}

#sec {
    display: flex;
    list-style: none;
    gap: 25px;
}

#sec li a {
    color: rgb(20, 20, 20);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}


#thi {
    display: flex;
    list-style: none;
    gap: 25px;
    margin-left: 1000px;
    margin-top: -45px;
}

#thi li {
    display: inline;
    padding: 5px 12px;
}

#thi li a {
    color: rgb(30, 29, 29);
    text-decoration: none;
    border-radius: 4px;
}

.slideshow-container {
    position: relative;
    max-width: 1400px;
    margin: 40px auto;
    height: 350px;
    margin-left: 80px;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 16px;
    font-size: 18px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


#tt {
    height: 200px;
    width: 300px;
}

#fourt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 90px;
}

#mo {
    font-size: 27px;
}

#ss {
    text-decoration: none;
    color: red;
}

#ffront {
    display: flex;
    gap: 30px;
    margin-left: 145px;
    margin-top: 20px;
    flex-wrap: wrap;
}

#ffront img {
    height: 400px;
    width: 225px;
    border: none;
    border-radius: 4px;
}

#paraa {
    display: flex;

    align-items: center;
    margin-top: 350px;
    margin-left: 148px;
    margin-right: 90px;
    gap: 130px;

}

#rr img {
    height: 83px;
    width: 1250px;
    border-radius: 2px;
    border: none;
    display: flex;
    margin-top: 50px;
    margin-left: 148px;
}

#fffront {
    display: flex;
    gap: 30px;
    margin-left: 145px;
    margin-top: 130px;
    flex-wrap: wrap;
}

#fffront img {
    height: 228px;
    width: 225px;
    border: none;
    border-radius: 4px;
}

#live {
    margin-left: 145px;
    margin-top: -91px;
    font-size: 22px;
}

#gap {
    height: 500px;
    width: 100%;
    background-color: rgb(44, 44, 81);
    margin-left: 0;
    margin-top: 250px;

}

#dd {
    display: flex;
}

#dd img {
    height: 57px;
    width: 70%;
    margin-top: -474px;
    margin-left: 50px;
}


#FFF {
    height: 8px;
    width: 210px;
    display: flex;
}

#FFF img {
    height: 307px;
    width: 232px;
    margin-top: -200%;
    margin-left: 206px;
    border: none;
    border-radius: 4px;
}

#paraaa {
    display: flex;
    align-items: center;
    margin-top: -114px;
    margin-left: 237px;
    margin-right: 90px;
    gap: 294px;
    color: white;
    font-size: 20px;

}

#screen img {
    height: 1000px;
    width: 100%;
    margin-top: 500px;
    margin-left: 0px;
}



#ffffront img {
    height: 379px;
    width: 225px;
    border: none;
    border-radius: 4px;

}
#ffffront {
        display: flex;
        gap: 30px;
        margin-left: 145px;
        margin-top: 100px;
        flex-wrap: wrap;
    }
#ffourt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
    margin-left: 96px;
    margin-right: 91px;
}

#mmo {
    font-size: 36px;
}

/* Login Popup Styles */
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
    padding: 30px 40px;
    border: 2px solid #201f1f;
    border-radius: 10px;
    background-color: #a9a5a4;
    opacity: 0;
    z-index: 1000;
    height: 400px;
    width: 400px;
}

.popup.active{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.closs-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px 6px;
    font-size: 18px;
    background-color: #2c2a2a;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closs-btn:hover{
    background-color: #fb0505;
}

.popup h2{
    margin-bottom: 28px;
    color: #201f1f;
    text-align: center;
    height: auto;
}

.form-element{
    margin-bottom: 20px;
    height: auto;
}

.form-element label{
    display: block;
    margin-bottom: 8px;
    color: #201f1f;
    height: auto;
}

.form-element input{
    width: 100%;
    padding: 8px;
    border: 2px solid #1a1717;
    border-radius: 4px;
    font-size: 16px;
    height: auto;
    box-sizing: border-box;
}

.form-element input[type="checkbox"]{
    width: auto;
    margin-right: 8px;
    height: auto;
}

.form-element input[type="checkbox"] + label{
    display: inline;
    margin-bottom: 0;
}

.form-element input[type="submit"]{
    background-color: #000;
    color: #f8f4f4;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    height: auto;
}

.form-element input[type="submit"]:hover{
    background-color: #f40404;
}

.form-element a{
    color: #22aff6;
    text-decoration: none;
    display: block;
    text-align: right;
    height: auto;
}

.form-element a:hover{
    color: #f50707;
}